<%- include("./partials/header") %>
<div class="ui text container">
    <div class="ui middle  aligned animated list">
        <div class="item">
            <% if(user.image.length == 36 || user.image.length == 0){%>
                <img class="ui avatar image" src="/image/<%= user.image %>">
            <%}else{%>
                <img class="ui avatar image" src="https://semantic-ui.com/images/wireframe/image.png">
            <%}%>
            <div class="content">
                <div class="header">
                    <a href="/user/<%= user._id%>"><h2><%= user.username %></h2></a> 
                </div>
            </div>
        </div>
    </div>
    <hr>
    <% if(conversation==null){%>
        <h3>Start chat</h3>
    <%}else{%>
        <% conversation.forEach(function(message){ %>
            <% if(message.sender == currentUser.username){%>
                <div class="ui right aligned container">
                    <div class="ui compact message">
                        <p><%=message.text%></p>
                    </div>
                </div>
            <%}else{%>
                <div class="ui left aligned container">
                    <div class="ui compact message">
                        <p><%=message.text%></p>
                    </div>
                </div>
            <%}%>
        <% });%>
    <%}%>
    <br>
    <form action="/message/<%=user._id%>" method="post" class="ui form">
        <div class="ui container">
            <div class="field">
                <label for="text"></label>
                <input type="text" id="text" name="text"  class="validate" placeholder="Write Message">
            </div>
            <button class="ui basic fluid blue button">Send</button>
        </div>
    </form>
</div>

<%- include("./partials/footer") %>