<%- include("./partials/header") %>
<div class="ui container">
  <div class="doubling stackable two column ui grid container">
    <div class="ten wide  column">
      <div class="ui segment">
        <span style="font-size: large;">
          <a href="/user/<%=blog.user.id%>"><b><%= blog.user.username %></b></a>
        </span>
        <div class="metadata">
          <div class="date"><%= blog.created.toDateString()%></div>
        </div>
        <hr>
        <h4><%= blog.text %></h4>
     </div> 
      <div class="ui middle aligned divided list">
        <% if(currentUser && blog.user.id.equals(currentUser._id)){ %>
          <form action="/blog/<%= blog._id %>?_method=DELETE" method="POST" >
            <button class="ui basic fluid red button">Delete</button>
          </form>
        <% } %>
      </div>
    </div>
    <div class=" six wide column">
      <div class="ui segment">
        <div class="ui comments">
          <h4>Comment <span><%= blog.comments.length%></span></h4>
          <% blog.comments.forEach(function(comment){ %>
            <div class="comment">
              <div class="content">
                <a class="author" href="/user/<%=comment.author.id%>"><%= comment.author.username%></a>
                <div class="metadata">
                  <div class="date"><%= comment.created.toDateString()%></div>
                </div>
                <div class="text">
                  <%= comment.text%> 
                </div>
              </div>
            </div>
            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
              <form  action="/blog/<%=blog._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                <button class="ui basic fluid red button">Delete</button>
              </form>
            <% } %>
          <% });%>
          <hr>
          <form action="/blog/<%= blog._id%>/comments" method="post" class="ui form">
            <div class="ui container">
                <div class="field">
                    <input type="text" id="text" name="comment[text]"  class="validate" placeholder="Add Comment">
                </div>
                <button class="ui basic fluid green button">Comment</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
<div>

<%- include("./partials/footer") %>